body {
    margin:0px;
}

nav {
    padding:1em;
    color:#bbb;
    background-color: #333;
    margin-bottom: 2em;
}
nav:after {
  clear: both;
}

@media screen {
    .content {
        margin:2em;
    }
}

@media print {
    header {
        display:none;
    }
}
